<div class="row">
  <app-shortener class="p-2 col-12"></app-shortener>

  <app-stats class="p-2 col-12 col-xl-6"></app-stats>

  <div class="p-2 col-12 col-xl-6">
    <h3 class="fw-bold">About Vaibhav Pandey's URL Shortener</h3>
    <p>Hello, I'm Vaibhav Pandey, and I'm thrilled to introduce you to the powerful features of my custom-built URL shortener. Crafted with Angular, Node.js, JWT, and MongoDB, this innovative tool empowers you to seamlessly convert lengthy and cumbersome URLs into concise and user-friendly links.</p>
    <p>One standout feature of my URL shortener is its unwavering reliability. Rest assured that the links you share with your audience will consistently deliver the information you intend, ensuring a smooth and efficient user experience.</p>
    <h3 class="fw-bold">Advanced Tracking Capabilities</h3>
    <p>What sets my shortener apart is its integrated link tracking functionality. Gain insights into the effectiveness of your shortened links in driving traffic. This tracking capability enables you to assess the success of your marketing campaigns, empowering you to make data-driven decisions for optimizing your content and maximizing impact.</p>
    <p>As a developer, I believe that my URL shortener is an invaluable asset for any business seeking to share links online. I trust that you'll discover its utility and efficiency, making it an essential tool in your online endeavors.</p>
  </div>

</div>
